<template lang="jade">
  div.full-height
    video(playsinline autoplay muted loop)
      source(src="static/priroda-720.mp4" type="video/mp4")
      source(src="static/priroda3-360.mp4" type="video/mp4")

</template>

<script>
export default {
  name: 'TestPage',
  data () {
    return {
      msg: 'Another page'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="sass">
  .full-height
    min-height: 100vh;
    min-width: 100vw;
    display: block;
    width: auto;
    height: auto;
    position: relative;
    overflow: hidden;
    video
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        transform: translateX(-50%) translateY(-50%);
        background: url('/static/title.jpg') no-repeat;
        background-size: cover;
        transition: 1s opacity;

</style>
