<template lang="jade">
    div
        div.address.container.row(itemprop="address" itemscope='asd' itemtype='https://schema.org/PostalAddress')
            a.phone(href="tel:+1 (323) 690-7705" itemprop='telephone') phone
                span +1 (323) 690-7705
            div.big
            a.mail(href="mailto:hello@wanderagency.com" itemprop="email") mail
                span hello@wanderagency.com

</template>

<script>

export default {
  name: 'MainFooter'
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="sass">
    .address
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: #fff;
        & > *
            flex: 1;
            text-align: center;
            color: #7D7D7D;
        span
            margin-left: 2rem;
            color: #fff;

    @media only screen and (max-width: 640px)
        .address
            flex-direction: column;
            .phone
                margin-bottom: 2rem;
</style>
