<template lang="jade">
  fixed-header(:fixed.sync="isFixed" v-bind:threshold="10")
    div.menu(:class="{ 'is-fixed': isFixed }")
      div.container
        div.logo
          router-link(to='home')
            img(title='wander logo' height=71 width=237 src='../assets/logo.svg')
        div.nav
          router-link(v-bind:to='item.slug' v-bind:key='item.id' v-for='item in items') {{item.title}}
        div.big
</template>

<script>

import FixedHeader from 'vue-fixed-header'

export default {
  name: 'MainHeader',
  components: {
    FixedHeader
  },
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      isFixed: false
    }
  },
  props: {
    items: {
      type: Array,
      default () {
        return [
          { id: 1,
            slug: '/',
            title: 'home'
          },
          {
            id: 2,
            slug: 'cases',
            title: 'cases'
          },
          {
            id: 3,
            slug: 'contact',
            title: 'contact'
          }
        ]
      }
    }
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="sass">
  .menu
    position: fixed;
    top: 49px;
    width: 100%;
    transition-property: top background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    &.is-fixed
      top: 0;
      background-color: rgba(0,0,0,0.8)
    *
      flex: 1;
    .container
      display: flex;
      align-items: center;
      left: 5%;
    .nav
      display: flex;
      text-align: center;
      padding: 1rem 0;
      a
        color: #fff
        margin: 0 10px;
        text-transform: uppercase;
  .logo
    a
      display: inline-block;

  @media only screen and (max-width: 580px)
    .container
      flex-direction: column;
</style>
