<template lang="jade">
  div(id='app')
    main-header
    transition(name="fade")
      router-view.page
    main-footer.footer
</template>

<script>
import MainHeader from './components/MainHeader'
import MainFooter from './components/MainFooter'

export default {
  name: 'App',
  components: {
    MainHeader,
    MainFooter
  }
}
</script>

<style lang="sass">

  body
    margin: 0;

  h1,h2,h3
    text-transform: uppercase;
    font-size: 3rem;

  #app
    font-family: $font-stack;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
  a
    text-decoration: none;
    color: inherit;
    &:hover
      text-decoration: underline;

  .container
    width: 90%;
    margin: auto;
  .menu
    z-index: 2;
  .footer
    background-color: #000;
    padding: 2rem;
    margin-top: 5rem;
    display: flex;

  @media only screen and (max-width: 768px)
    .big
      display: none;
</style>
